@media (max-width: 991px) {
  #blog .block-blog {
    margin-bottom: 30px;
  }
}
#blog .block-blog {
  border: none;
  margin-bottom: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#blog .block-blog:hover {
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transform: translateY(-5px);
  transition: all 0.5s ease-in-out 0s;
  border: 1px solid #b8e3b3;
}

#blog .block-blog img {
  width: 100%;
}

#blog .block-blog .content-blog {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  min-height: 125px;
  padding: 15px 10px;
  width: 100%;
}

#blog .block-blog .content-blog h4 {
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 16px;
  font-family: "Gelasio", serif;
}

#blog .block-blog .content-blog h4 a {
  color: #555;
  text-decoration: none;
  transition: 0.3s;
  font-size: larger;
}

#blog .block-blog .content-blog h4 a:hover {
  color: #71c55d;
}
#blog .block-blog .content-blog .keterangan-blog {
  position: relative;
}
#blog .block-blog .content-blog > span {
  float: left;
  font-size: 12px;
}

#blog .block-blog .content-blog a.readmore {
  /* color: #505050; */
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 0;
  text-transform: capitalize;
  font-family: "Noto Sans Mono", monospace;
  color: #71c55d;
}

#blog .block-blog .content-blog a.readmore:hover {
  color: #71c55d;
}
#blog .content-blog .category-blog {
  position: relative;
}
#blog .content-blog .category-blog p {
  margin: 4px;
}
#blog .content-blog .category-blog a {
  color: #3e8d67;
  font-size: 17px;
}

#blog .content-blog .category-blog a:hover {
  color: #48ca8b;
  text-decoration: none;
}
