.produk-name {
  font-family: "Noto Sans Mono", monospace;
}
.produk-harga {
  font-size: medium;
  font-family: "Noto Sans Mono", monospace;
  margin-top: 16px;
}
.btn-link {
  box-shadow: none;
  text-decoration: none;
  color: #3b71ca;
}
.button {
  display: flex;
  justify-content: flex-end;
}
.btn-learn-more-action{
  margin: 0px !important;
}

/* bayar page */

.no-invoce h4{
  font-family: "Gelasio", sans-serif;
  /* font-size: 45px; */
  /* font-weight: 100; */
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
