.produk-name{
    font-family: "Noto Sans Mono", monospace;
}
.produk-harga{
    font-size: medium;
    font-family: "Noto Sans Mono", monospace;
}
.btn-link{
    box-shadow: none;
    text-decoration: none;
    color: #3b71ca;
}
.button {
    display: flex;
    justify-content: flex-end;
  }
.btn-bayar {
    border: 1px solid #005427a0;
    border-radius: 5px;
    color: #005427a0;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 550;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0s;
  }
  .btn-bayar:hover {
    background-color: #005427a0;
    color: #fff;
  }