/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(100vh - 40px);
  position: relative;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .home-page {
    background: url(../img/hero-bg.webp) center bottom no-repeat;
    background-size: 100%;
  }
}

@media (min-width: 1025px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (min-width: 1025px) and (max-height: 768px) {
  #hero {
    height: 110vh;
  }
}

@media (max-height: 600px) {
  #hero {
    height: 200vh;
  }
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  font-family: "Gelasio", serif;
  color: #43b327;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 35px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #777;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Oleo Script", "cursive";
  font-weight: 300;
}

#hero .title-page-jual h1 {
  font-family: "Oleo Script", "cursive";
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero img {
  max-width: 70%;
  margin-bottom: 30px;
}

.btn-get-started {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 11px 36px;
  border-radius: 50px;
  transition: 0.5s;
  margin-bottom: 30px;
  border: 2px solid #71c55d;
  background: #fff;
  color: #71c55d;
  text-decoration: none;
}

.btn-get-started:hover {
  background: #71c55d;
  color: #fff;
}

#hero .btns a {
  color: #555;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 4px 20px;
  text-decoration: none;
  transition: 0.3s;
}

@media (max-width: 575px) {
  #hero .btns a {
    margin: 4px 8px;
  }
}

#hero .btns a:hover {
  color: #71c55d;
}

/* About Us Section
--------------------------------*/
.aboutus {
  background: linear-gradient(#e4f4e1, #8bd07bd3),
    url("../img/aboutus-bg.webp") fixed center center;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 120px 0;
  background-size: cover;
}
.aboutus h3 {
  color: hsla(117, 23%, 16%, 0.907) !important;
  font-size: 28px !important;
  font-weight: 700 !important;
  padding-bottom: 15px !important;
}
.aboutus p {
  color: hsla(117, 23%, 16%, 0.907) !important;
  font-weight: 500 !important;
}
.aboutus h5 {
  color: hsla(117, 23%, 16%, 0.907);
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .aboutus {
    background-attachment: scroll;
  }
}

/* Features Section
--------------------------------*/
#features {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#features .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out 0s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  min-height: 300px;
}

#features .feature-block img {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
  object-fit: cover;
}

#features .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

#features .feature-block h4 {
  margin-bottom: 20px;
}

#features .feature-block p {
  margin-bottom: 0;
}

/* Testimonials Section
--------------------------------*/
#testimonials .testimonials-content {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  padding: 49px 20px;
}

#testimonials .testimonials-content::before {
  color: #71c55d;
  content: "\f10e";
  display: inline-block;
  font: 70px/1 FontAwesome;
  position: absolute;
  right: 43px;
  text-align: left;
  top: -29px;
}

#testimonials .top-top .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

#testimonials .testimonials-content > h2 {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-transform: capitalize;
}

#testimonials .top-top > h4 {
  font: 700 12px Lato, sans-serif;
}

#testimonials .top-top > h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

#testimonials .top-top span {
  font-size: 12px;
  font-weight: 300;
}

#testimonials .btm-btm ul li {
  float: left;
  margin: 0 8px;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  background: #ddd none repeat scroll 0 0;
  cursor: pointer;
  height: 12px !important;
  width: 12px !important;
  border: 0;
  content: "";
}

#testimonials .btm-btm .active {
  background: #71c55d;
}

.carousel-indicators {
  position: relative;
  bottom: 0;
  left: 0;
  bottom: 0 !important;
  z-index: 15;
  width: auto;
  padding-left: 0;
  margin: 30px auto 0 auto;
  margin-right: auto;
  text-align: center;
  list-style: none;
  margin-bottom: 0;
  display: inline-block;
}

.carousel-indicators li {
  margin: 0;
}

/* Contact Section
--------------------------------*/
#contact .info {
  border-top: 3px solid #71c55d;
  border-bottom: 3px solid #71c55d;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}
#contact .info i {
  font-size: 20px;
  color: #71c55d;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7fbf8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
#contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #377e71;
}
#contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #61ba88;
}
#contact .info .email p {
  padding-top: 5px;
}
#contact .info .email:hover i,
#contact .info .address:hover i,
#contact .info .phone:hover i {
  background: #71c55d;
  color: #fff;
}
#contact .php-email-form {
  width: 100%;
  border-top: 3px solid #71c55d;
  border-bottom: 3px solid #71c55d;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
#contact .php-email-form .form-group {
  padding-bottom: 8px;
}
#contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
#contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
#contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
#contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
#contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
#contact .php-email-form .form-group {
  margin-bottom: 20px;
}
#contact .php-email-form label {
  padding-bottom: 8px;
}
#contact .php-email-form input,
#contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}
#contact .php-email-form input:focus,
#contact .php-email-form textarea:focus {
  border-color: #71c55d;
}
#contact .php-email-form input {
  height: 44px;
}
#contact .php-email-form textarea {
  padding: 10px 12px;
}
#contact .php-email-form button[type="submit"] {
  background: #71c55d;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
#contact .php-email-form button[type="submit"]:hover {
  background: #377e5c;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
